/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  /* Centered text */
.GOAT {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }